{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-container">
        <div class="inner">


            <div class="fullwidth-module">
                <h2>Contact us!</h2>
                <p>Feel free to contact us!</p>
            </div>

            <div class="fullwidth-additional-info">
                <div class="box">
                    <h2>Contact</h2>
                    <p>E-mail: alvaro@alvaro.com</p>
                </div>
                <div class="clear"></div>
            </div>

            <div class="clear"></div>
        </div>
    </div>
{% endblock %}